@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }/* Sidebar styling */
.sidebar-publications {
    width: 500px;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    max-height: 400px; /* Set max height for sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
}

.sidebar-publications h1 {
 
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-style: times;
}

/* Styling for publication records */
.publication-record {
    margin-bottom: 15px;
}

/* Change title text color to black */
.publication-record h4 {
    font-size: 18px; /* Increased title font size */
    
    color: black !important; /* Ensure title text color is black */
}

/* Change link color to black */
.publication-record a {
    color: rgb(62, 73, 232) !important; /* Force link text color to black */
    text-decoration: none;
}

.publication-record a:hover, .publication-record a:focus {
    text-decoration: underline;
    color:blue;
}

/* Ensure paragraph (authors and details) text color is black */
.publication-record p {
    font-size: 20px; /* Increased paragraph font size */
    margin: 2px 0;
    color: black !important; /* Force text color to black */
}

/* Force bold text for authors, journals, and years to be black */
.publication-record p strong {
    color: black !important; /* Make sure strong/bold text is black */
    font-size: 18px;}

.view-all {
    text-align: center;
    margin-top: 10px;
}

.view-all a {
    font-size: 18px;; /* Increased font size for "View All" */
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.view-all a:hover {
    text-decoration: underline;
    color:blue;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Black with opacity */
    overflow: auto;
    bottom: 100px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Expand the modal to most of the screen */
    height: 80%;
    overflow-y: auto;
}

.modal-content h2 {
    font-size: 80px; /* Increased title font size in modal */
    margin-bottom: 20px;
    text-align:center;
}
.modal-content a {
  color:black;
}

.modal-content a:hover, .modal-content a:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

/* Modal publication styling with black text */
.modal-publication-record {
    margin-bottom: 15px;
}

.modal-publication-record h4 {
    font-size: 30px; /* Increased title font size in modal */
    margin: 0 0 5px;
    color: black !important; /* Ensure modal title text is black */
}

.modal-publication-record p {
    font-size: 18px; /* Increased paragraph font size in modal */
    margin: 2px 0;
    color: black !important; /* Ensure modal paragraph text is black */
}

/* Force bold text in modal to black */
.modal-publication-record p strong {
    color: black !important; /* Ensure bold text is black in modal */
    font-size: 18px;}

/* Modal close button */
.close {
    color: black;
    position: absolute; /* Absolute positioning to place it inside the modal */
    top: 10px; /* Adjust this value to position vertically */
    right: 20px; /* Adjust this value to position horizontally */
    font-size: 50px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
